/*----------------------------------------*/
/*  JESUS SECTION
/*----------------------------------------*/
#section-jesus{
	background-color: #fff;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 470px 0 100px;
}//section-jesus



/*----------------------------------------*/
/*  COMMIT SECTION
/*----------------------------------------*/
#section-comprometerse{
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 400px 0 100px;
}//section-comprometerse



/*----------------------------------------*/
/*  CONNECT SECTION
/*----------------------------------------*/
#section-conectarse{
	background-color: #fff;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 400px 0 100px;
}//section-conectarse



/*----------------------------------------*/
/*  GROW SECTION
/*----------------------------------------*/
#section-crecer{
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 350px 0 100px;
}//section-crecer



/*----------------------------------------*/
/*  SERVE SECTION
/*----------------------------------------*/
#section-servir{
	background-color: #fff;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 350px 0 100px;
}//section-servir




/*----------------------------------------*/
/*  GIVE SECTION
/*----------------------------------------*/
#section-dar{
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 350px 0 100px;
}//section-dar


