/*----------------------------------------*/
/*  HISTORY SECTION
/*----------------------------------------*/
#section-nuestra-historia{
	padding: 20px 0 90px;
}//section-history


body.page-template-page-about #section-nuestra-historia{
	background: #e7e7e7;
	padding: 140px 0;
	margin-bottom: 100px;
}//section-nosotros